<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionBD"
			 connectionString="Data Source=desktop-nbmes14\ejaramillo;Initial Catalog=FarmaciaDB;User ID=usr_far;Password=Segura123!;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>